root = true

# All
[*]
# end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Extension
[*.py]
indent_style = space
indent_size = 4
end_of_line = lf

[*.sh]
end_of_line = lf

# File
[Dockerfile]
end_of_line = lf

# EOF
