name: Test
on:
  push:
    branches:
      - master
  pull_request:
permissions:
  pull-requests: write

jobs:
  test-check:
    name: runner / mypy (github-check)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: Setup Python
        uses: actions/setup-python@v3
      - name: mypy-github-check
        uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-check
          level: warning
          reviewdog_flags: -filter-mode=file -fail-on-error
          workdir: ./testdata/

  test-pr-check:
    if: github.event_name == 'pull_request'
    name: runner / mypy (github-pr-check)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: Setup Python
        uses: actions/setup-python@v3
      - name: mypy-github-pr-check
        uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-check
          level: warning
          reviewdog_flags: -filter-mode=file -fail-on-error
          workdir: ./testdata/

  test-pr-review:
    if: github.event_name == 'pull_request'
    name: runner / mypy (github-pr-review)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: Setup Python
        uses: actions/setup-python@v3
      - name: mypy-github-pr-review
        uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          level: warning
          reviewdog_flags: -filter-mode=file -fail-on-error
          workdir: ./testdata/

  test-local:
    name: runner / mypy (local)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: Setup Python
        uses: actions/setup-python@v3
      - name: mypy-local
        uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: local
          level: error
          filter_mode: nofilter
          fail_on_error: true
          workdir: ./testdata/
      - name: mypy-local-error
        id: mypy_local_error
        uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: local
          level: error
          filter_mode: nofilter
          fail_on_error: true
          workdir: ./testerror/
        continue-on-error: true
      - name: mypy-local-error-should-failure
        if: steps.mypy_local_error.outcome == 'success'
        run: |
          echo "::error file=.github/workflows/test.yml::mypy-local-error should outcome failure"
          false
